<h1>Hi There!</h1>

<p>Please fill out form to register</p>

<form action="register" method="post">
    <input type="text"  placeholder="full name" name="full_name" value="">
    <br/>
    <input type="text" placeholder="Street Address" name="street_address" value="">
    <br/>
    <input type="text" placeholder="City" name="city">
    <br/>
    <input type="text" placeholder="State" name="state" value="">
    <br/>
    <input type="text" placeholder= "Country" name="country" value="">
    <br/>
    <input type="text" placeholder="email"name="email" value="">
    <br/>
    <input type="text" placeholder="username" name="username" value="">
    <br/>
    <input type="password" placeholder="password" name="password">
    <br/>
    <input type="submit" name="enter" value="enter">
    <br/>
</form>
